@import './font.scss';
@import 'staak-ui/lib/esm/styles/colors.module.scss';

button,
input,
#root {
	font-family: $font-family;
}
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box !important;
}

.staak_scrollbar::-webkit-scrollbar {
	width: 7px;
}

/* Handle */
.staak_scrollbar::-webkit-scrollbar-thumb {
	transition-duration: 0.5s;
	cursor: pointer;
	border-radius: 8px;
	background-color: $BLACK_11;
}

/* Handle on hover */
.staak_scrollbar::-webkit-scrollbar-thumb:hover {
	background: $BLACK_10;
}
