@import './font.scss';
@import 'staak-ui/lib/esm/styles/colors.module.scss';

button,
input,
#root {
	font-family: $font-family;
	font-size: $font-size;
}
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box !important;
}

.staak_scrollbar::-webkit-scrollbar {
	width: 7px;
}

/* Handle */
.staak_scrollbar::-webkit-scrollbar-thumb {
	transition-duration: 0.5s;
	cursor: pointer;
	border-radius: 8px;
	background-color: $BLACK_11;
}

/* Handle on hover */
.staak_scrollbar::-webkit-scrollbar-thumb:hover {
	background: $BLACK_10;
}

.w-100 {
	width: 100%;
}
.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

@keyframes animateProgressBar {
	0% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}
